body {
  margin:0px;
  background-color:rgba(247, 245, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:1030px;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:1030px;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:507px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:376px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:5px 5px 100px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 100px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 100px rgba(0, 0, 0, 0.349019607843137);
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:228px;
  width:428px;
  height:376px;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#5A5E66;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:260px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#5A5E66;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7810_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:305px;
  height:10px;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:298px;
  width:300px;
  height:5px;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B3C0D1;
  text-align:left;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:326px;
  width:300px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B3C0D1;
  text-align:left;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:278px;
  word-wrap:break-word;
}
#u7814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B3C0D1;
  text-align:left;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:395px;
  width:300px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B3C0D1;
  text-align:left;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:278px;
  word-wrap:break-word;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:502px;
  width:300px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
